.custom-body-font {
    font-family: Montserrat, sans-serif;
}

.custom-heading-font {
    font-family: Architects Daughter, sans-serif;
}

.hr-style {
    border-top-style: dotted;
    width: 10%;
}

  